name: Android CI

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
    workflow_dispatch:

jobs:
    build:

        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4

            -   name: Gradle Cache Setup
                uses: gradle/gradle-build-action@v2

            -   name: Decode keystore
                run: echo "$KEYSTORE_BASE64" | base64 --decode > keystore.jks

            -   name: Build debug with signing
                run: ./gradlew assembleDebug

            -   name: Upload artifacts
                uses: actions/upload-artifact@v4
                with:
                    name: android-app
                    path: app/build/outputs/apk/*/*.apk
